# Dependencies
**/node_modules/
node_modules/

# Local env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
.env

# Next.js build output
**/out/
**/.next/

# IDE and OS files
.DS_Store
**/.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client_secret*.json
*.json.apps.googleusercontent.com


# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
